.page {
  width: 100%;
}
.container {
  max-width: var(--single-page-size);
  margin: 0 auto;
  padding: 130px 0 50px;
}
.subtitile {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  margin: 20px 0;
  color: var(--light);
}
.text {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 300;
}
.contacts {
  width: 100%;
  display: flex;
  gap: 20px;
}
.contacts_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.item {
  display: flex;
  gap: 30px;
}
.diploms_block {
  max-width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 20px 0;
}
.deti {
  max-width: calc(100% / 2 - 20px);
  margin: 0 auto;
}
.deti img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.mt{
  margin-top: 80px;
}

@media (max-width: 900px) {
  .container {
    max-width: var(--single-page-size-mob);
  }
}

@media (max-width: 700px) {
  .container {
    padding: 100px 0 50px;
  }
  .contacts {
    flex-direction: column;
  }
  .text {
    font-size: 16px;
  }
  .subtitile {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }
  .deti{
    max-width: 90%;
  }
}
